
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
  margin: 0;
  padding: 0;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-jumbotron {
  margin-bottom: 0;
  padding: 30px 0;
  width: 100%;
  height: 200px;
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.new-product-footer {
  position: relative;
  .new_product_info {
    position: absolute;
    top: 0;
    left: 10px;
  }
}

.description {
  height: 100px;
}

span.error {
  color: $error-text;
}

.pag {
  display: flex;
  justify-content: center;
}

.products-index {
  .image {
    width: 50px;
  }
}

.login-popup {
  position: absolute;
  top: 20px;
  left: 50px;
  display: none;
  z-index: 1;
}

.follow {
  position: fixed;
}

.stuck {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}


// ADMIN
.main {
  margin: 0;
  background: $prp-light;
  height: 100%;
  .sidebar {
    background: $prp-default;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: 1;
    -webkit-box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 8px 1px rgba(0,0,0,0.75);
  }
  .content {
    margin-top: 100px;
    height: 100%;
    background: $prp-light;
  }
  .option {
    height: 100px;
    width: 100%;
    margin-bottom: 1px;
    position: relative;
    a.active {
      background-color: $prp-highlight;
    }
    a {
      font-size: 15px;
      width: 100%;
      height: 100%;
      background: $prp-dark;
      display: inline-block;
      padding-top: 35px;
      flex-direction: column;
      justify-content: center;
      vertical-align: middle;
      padding-left: 50px;
      color: $prp-text;
      font-weight: bold;
      border-bottom: 0 none;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
      &:hover {
        text-decoration: none;
        background-color: $prp-highlight;
      }
    }
  }
  .down {
    position: absolute;
    bottom: 0;
  }
}

a.back {
  font-size: 1.7rem;
  margin-bottom: 30px;
}

////////////////////////////////////// RANGE //////////////////////////////////////////////////////////////
//.range {
//  display: table;
//  position: relative;
//  height: 25px;
//  margin-top: 20px;
//  background-color: rgb(245, 245, 245);
//  border-radius: 4px;
//  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
//  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
//  cursor: pointer;
//}
//
//.range input[type="range"] {
//  -webkit-appearance: none !important;
//  -moz-appearance: none !important;
//  -ms-appearance: none !important;
//  -o-appearance: none !important;
//  appearance: none !important;
//
//  display: table-cell;
//  width: 100%;
//  background-color: transparent;
//  height: 25px;
//  cursor: pointer;
//}
//.range input[type="range"]::-webkit-slider-thumb {
//  -webkit-appearance: none !important;
//  -moz-appearance: none !important;
//  -ms-appearance: none !important;
//  -o-appearance: none !important;
//  appearance: none !important;
//
//  width: 11px;
//  height: 25px;
//  color: rgb(255, 255, 255);
//  text-align: center;
//  white-space: nowrap;
//  vertical-align: baseline;
//  border-radius: 0px;
//  background-color: rgb(153, 153, 153);
//}
//
//.range input[type="range"]::-moz-slider-thumb {
//  -webkit-appearance: none !important;
//  -moz-appearance: none !important;
//  -ms-appearance: none !important;
//  -o-appearance: none !important;
//  appearance: none !important;
//
//  width: 11px;
//  height: 25px;
//  color: rgb(255, 255, 255);
//  text-align: center;
//  white-space: nowrap;
//  vertical-align: baseline;
//  border-radius: 0px;
//  background-color: rgb(153, 153, 153);
//}
//
//.range output {
//  display: table-cell;
//  padding: 3px 5px 2px;
//  min-width: 40px;
//  color: rgb(255, 255, 255);
//  background-color: rgb(153, 153, 153);
//  text-align: center;
//  text-decoration: none;
//  border-radius: 4px;
//  border-bottom-left-radius: 0;
//  border-top-left-radius: 0;
//  width: 1%;
//  white-space: nowrap;
//  vertical-align: middle;
//
//  -webkit-transition: all 0.5s ease;
//  -moz-transition: all 0.5s ease;
//  -o-transition: all 0.5s ease;
//  -ms-transition: all 0.5s ease;
//  transition: all 0.5s ease;
//
//  -webkit-user-select: none;
//  -khtml-user-select: none;
//  -moz-user-select: -moz-none;
//  -o-user-select: none;
//  user-select: none;
//}
//.range input[type="range"] {
//  outline: none;
//}
//
//.range.range-primary input[type="range"]::-webkit-slider-thumb {
//  background-color: rgb(66, 139, 202);
//}
//.range.range-primary input[type="range"]::-moz-slider-thumb {
//  background-color: rgb(66, 139, 202);
//}
//.range.range-primary output {
//  background-color: rgb(66, 139, 202);
//}
//.range.range-primary input[type="range"] {
//  outline-color: rgb(66, 139, 202);
//}
//
//.range.range-success input[type="range"]::-webkit-slider-thumb {
//  background-color: rgb(92, 184, 92);
//}
//.range.range-success input[type="range"]::-moz-slider-thumb {
//  background-color: rgb(92, 184, 92);
//}
//.range.range-success output {
//  background-color: rgb(92, 184, 92);
//}
//.range.range-success input[type="range"] {
//  outline-color: rgb(92, 184, 92);
//}
//
//.range.range-info input[type="range"]::-webkit-slider-thumb {
//  background-color: rgb(91, 192, 222);
//}
//.range.range-info input[type="range"]::-moz-slider-thumb {
//  background-color: rgb(91, 192, 222);
//}
//.range.range-info output {
//  background-color: rgb(91, 192, 222);
//}
//.range.range-info input[type="range"] {
//  outline-color: rgb(91, 192, 222);
//}
//
//.range.range-warning input[type="range"]::-webkit-slider-thumb {
//  background-color: rgb(240, 173, 78);
//}
//.range.range-warning input[type="range"]::-moz-slider-thumb {
//  background-color: rgb(240, 173, 78);
//}
//.range.range-warning output {
//  background-color: rgb(240, 173, 78);
//}
//.range.range-warning input[type="range"] {
//  outline-color: rgb(240, 173, 78);
//}
//
//.range.range-danger input[type="range"]::-webkit-slider-thumb {
//  background-color: rgb(217, 83, 79);
//}
//.range.range-danger input[type="range"]::-moz-slider-thumb {
//  background-color: rgb(217, 83, 79);
//}
//.range.range-danger output {
//  background-color: rgb(217, 83, 79);
//}
//.range.range-danger input[type="range"] {
//  outline-color: rgb(217, 83, 79);
//}
