
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jumbotron {
  margin-bottom: 0;
  padding: 30px 0;
  width: 100%;
  height: 200px;
}

.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.new-product-footer {
  position: relative;
  .new_product_info {
    position: absolute;
    top: 0;
    left: 10px;
  }
}

.description {
  height: 100px;
}

span.error {
  color: $error-text;
}

.pag {
  display: flex;
  justify-content: center;
}

.products-index {
  .image {
    width: 50px;
  }
}

.login-popup {
  position: absolute;
  top: 20px;
  left: 50px;
  display: none;
  z-index: 1;
}

.follow {
  position: fixed;
}

.stuck {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}